* {
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

main {
    height: 100%;
    display: flex;
}

.containerTitulo {
    width: 100%;
    height: 5vh;
    background-color: #3084B4;
}

.containerTitulo--displayGrid {
    display: grid;
    justify-content: center;
    align-content: center;
}

.containerTitulo__tituloPagina {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.menuLateral {
    height: 100%;
    width: 20vw;
    background-color: #3084B4;
}

.menuLateral--displayFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 60px;
    padding-top: 50px;
}

.menuLateral__anchor {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
}

.menuLateral__anchor::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.30s;
}

.menuLateral__anchor::after {
    bottom: -3px;
    transform-origin: left;
}

.menuLateral__anchor:hover::after {
    transform: scaleX(1);
}

.containerProfessor {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.containerProfessor__menuSuperior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menuSuperior__tituloProfessor {
    color: #3084B4;
}

.menuSuperior__inputProfessor {
    height: 100%;
    max-height: 4.5vh;
    width: 100%;
    max-width: 15vw;
    font-size: 1.1rem;
    transition: ease-in-out 100ms;
}

.menuSuperior__inputProfessor--format {
    border: 1px solid #3084B4;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.menuSuperior__inputProfessor:hover {
    border: 2px solid #286c94;
}

.menuSuperior__containerLinks {
    display: flex;
}

.containerLinks__listaLinks {
    width: 12vw;
    height: 10vh;
}

.containerLinks__listaLinks--displayFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.listaLinks__icone {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #3084B4;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: ease-in-out 200ms;
}

.listaLinks__icone:hover {
    background-color: #286c94;
    transform: scale(1.1);
}

.icone {
    width: 35px;
    height: 35px;
}

.icone:hover {
    transform: scale(1.1);
}

.professorLista {
    position: relative;
    display: flex;
    gap: 2px;
    align-items: center;
}

.containerProfessor__menuConteudo {
    height: 80%;
    width: 90%;
    background-color: #E0E0E0;
    border: 1px solid #074A71;
    border-radius: 10px;
}

.containerProfessor__menuConteudo--displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.menuConteudo__titulosConteudo {
    height: 12vh;
}

.menuConteudo__titulosConteudo--displayFlex {
    display: flex;
    align-items: center; 
    text-align: center;
}

.containerProfessor__containerTabela {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.titulosConteudo__nome {
    color: #074A71;
    font-weight: 600;
    width: 23%;
}

.titulosConteudo__registro {
    color: #074A71;
    font-weight: 600;
    width: 22%;
}

.titulosConteudo__usuario {
    color: #074A71;
    font-weight: 600;
    width: 25%;
}

.titulosConteudo__telefone {
    color: #074A71;
    font-weight: 600;
    width: 25%;
}

.dataName {
    width: 23%;
}

.dataRegistro {  
    width: 25%;
}

.dataUsuario{
    width: 27%;
}

.dataTelefone {
    width: 25%;
}

tr {
    width: 100%;
    cursor: pointer;
}

tr:hover td{
    background-color: #bbbbbb;
}

td {
    padding: 10px;
    transition: all .3s ease;
}

.modal__adicionar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    line-height: 2.5rem;
}

.nome__modal{
    color: #074A71;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.modal__adicionar:target {
    visibility: visible;
    opacity: 1;
}

.modal__adicionar--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__adicionar--footer {
    text-align: right;
}

#salvarBtn {
    font-size: 1.3rem;
    padding: 10px;
    background-color: #3084B4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal__adicionar--close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 3rem;
}

/*  */


.input__nome {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.input__email {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.input__registro {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.input__telefone {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
