* {
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

main {
    height: 100%;
    display: flex;
}

.containerTitulo {
    width: 100%;
    height: 5vh;
    background-color: #3084B4;
}

.containerTitulo--icon {
    color: #ffff;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

.containerTitulo--displayFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2vh;
}

.containerTitulo--displayFlex a {
    display: none;
}

.containerTitulo__tituloPagina {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuLateral {
    height: 100%;
    width: 20vw;
    background-color: #3084B4;
}

.menuLateral--displayFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 60px;
    padding-top: 50px;
}

.menuLateral--menuBar {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.menuLateral--close {
    display: none;
}

.menuLateral__anchor {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
}

.menuLateral__anchor::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.30s;
}

.menuLateral__anchor::after {
    bottom: -3px;
    transform-origin: left;
}

.menuLateral__anchor:hover::after {
    transform: scaleX(1);
}

.containerAlunos {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.containerAlunos__menuSuperior {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    align-items: center;
    width: 90%;
}

.menuSuperior__tituloAlunos {
    color: #3084B4;
}

.menuSuperior__containerLinks {
    display: flex;
}

.containerLinks__listaLinks {
    width: 12vw;
    height: 10vh;
}

.containerLinks__listaLinks--displayFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.listaLinks__icone {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #3084B4;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: ease-in-out 200ms;
}

.listaLinks__icone:hover {
    background-color: #286c94;
    transform: scale(1.1);
}

.icone {
    width: 35px;
    height: 35px;
}

.icone:hover {
    transform: scale(1.1);
}

.iconeCancelar {
    width: 50px;
    height: 50px;
}

.iconeCancelar:hover {
    transform: scale(1.2);
}

.iconeSalvar:hover {
    transform: scale(1.2);
}

.iconeSalvar {
    width: 50px;
    height: 50px;
}

.containerAlunos__tabelaFormulario {
    width: 90%;
    height: 30%;
    border: 1px solid #074A71;
    background-color: #E0E0E0;
    border-radius: 10px;
}

.tabelaFormulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    padding: 2%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.input input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid #074A71;
    font-size: 0.9rem;
}

.input label {
    font-size: 1.5rem;
    color: #074A71;
    font-weight: 600;
}

#myInputNome {
    width: 350px;
}

#myInputEmail {
    width: 300px;
}

.containerAlunos__listasConteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
}

/*  TAREFAS  */

.listasConteudo__listaTarefas {
    background-color: #E0E0E0;
    width: 25%;
    height: 100%;
    max-height: 42vh;
    border: 1px solid #074A71;
    border-radius: 10px;
}

.listasConteudo__listaTarefas--displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listaTarefas__cardTarefas {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: auto;
}

.cardTarefas__linkTarefas {
    background-color: #D6E6F0;
    width: 80%;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #00000040);
    transition: all 200ms;
}

.cardTarefas__linkTarefas:hover {
    transform: scaleX(1.1);
    background-color: #bedbec;
}

.cardTarefas__linkTarefas--displayFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.linkTaferas__imgTarefa {
    height: 50px;

}

/* TURMAS */

.listasConteudo__listaTurmas {
    background-color: #E0E0E0;
    width: 25%;
    height: 100%;
    max-height: 42vh;
    border: 1px solid #074A71;
    border-radius: 10px;
}

.listasConteudo__listaTurmas--displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listaTurmas__cardTurmas {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: auto;
}

.cardTurmas__linkTurmas {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    border: 1px solid #3084B4;
    width: 80%;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #00000040);
    transition: all 200ms;
    align-items: center;
}

.cardTurmas__linkTurmas:hover {
    transform: scaleX(1.1);
    background-color: #c7c7c7;
}

.linkTurmas__siglaClasse {
    font-weight: 600;
    font-size: 1.9rem;
    padding: 10%;
    text-align: center;
}

.linkTurmas__semestre {
    font-weight: bold;
    font-size: 0.9rem;
    height: fit-content;
}

.linkTurmas__data {
    font-weight: bold;
    font-size: 1rem;
}

.linkTurmas__containerSemestre {
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

/* MATERIAS */

.listasConteudo__listaMaterias {
    background-color: #E0E0E0;
    width: 25%;
    height: 100%;
    border: 1px solid #074A71;
    border-radius: 10px;
}

.listasConteudo__listaMaterias--displayFlex {
    display: flex;
    flex-direction: column;
}

/* TITULOS */

.listaTarefas__titulo {
    width: 100%;
    text-align: center;
}

.listaTurmas__titulo {
    width: 100%;
    text-align: center;
}

.listaMaterias__titulo {
    width: 100%;
    text-align: center;
}

.titulo {
    color: #286c94;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 10px;
}



