* {
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

main {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/**/

.menuSuperior {
    height: 10vh;
    background-color: #3084B4;
}

/**/

.containerDadosAluno {
    height: 100%;
}

.containerDadosAluno--displayFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/**/

.containerDadosAluno__nomeAluno {
    width: 150%;
}

.containerDadosAluno__emailAluno {
    width: 150%;
}

.containerDadosAluno__dataNascimentoAluno {
    width: 150%;
}

.containerDadosAluno__matriculaAluno {
    width: 150%;
}

.containerDadosAluno__nomeAluno--displayFlex {
    display: flex;
    flex-direction: column; 
}

.containerDadosAluno__emailAluno--displayFlex {
    display: flex;
    flex-direction: column;
}

.containerDadosAluno__DataNascimentoAluno--displayFlex {
    display: flex;
    flex-direction: column;
}

.containerDadosAluno__MatriculaAluno--displayFlex {
    display: flex;
    flex-direction: column;
}

.containerDadosAluno__botaoNotasAluno--displayFlex {
    display: flex;
    flex-direction: column;
}
/**/

.labelNomeAluno {
    font-size: 1.4rem;
    font-weight: 600;
}

.myInputNomeAlunoProfessor {
    background-color: #EEEEEE;
    border: transparent;
    border-bottom: 2px solid #074A71;
}

.labelEmailAluno {
    font-size: 1.4rem;
    font-weight: 600;
}

.myInputEmailAlunoProfessor {
    background-color: #EEEEEE;
    border: transparent;
    border-bottom: 2px solid #074A71;
}

.labelDataNascimentoAluno {
    font-size: 1.4rem;
    font-weight: 600;
}

.myInputDataNascimentoAlunoProfessor {
    background-color: #EEEEEE;
    border: transparent;
    border-bottom: 2px solid #074A71;
}

.labelMatriculaAluno {
    font-size: 1.4rem;
    font-weight: 600;
}

.myInputMatriculaAlunoProfessor {
    background-color: #EEEEEE;
    border: transparent;
    border-bottom: 2px solid #074A71;
}

/**/

.containerTarefasAluno {
   
}

.containerTarefasAluno__filtroTarefas {

}

.containerTarefasAluno__listaTarefas {

}

.listaTarefas__cardTarefas {

}

.cardTarefas__imagemTarefa {

}