body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 75px 1fr;
}


/* MODEL ADICIONAR */
.modal__adicionar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.nome__modal{
    font-size: 2rem;
    text-align: center;
}

.modal__adicionar:target {
    visibility: visible;
    opacity: 1;
}

.modal__adicionar--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__adicionar--footer {
    text-align: right;
}

#salvarBtn {
    font-size: 1.3rem;
    padding: 10px;
    background-color: #3084B4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal__adicionar--close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 2.5rem;
}

.sigla__carga--horaria{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input__file {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.input__nome {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.input__sigla {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input__carga--horaria {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input__descricao {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

#myInputDescricao{
    height: 100px;
    resize: none;
}

/* MODEL ERROR */
.modal__error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal__error:target {
    visibility: visible;
    opacity: 1;
}

.modal__error--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    width: 300px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__error--content p {
    text-align: center;
}

.modal__error--footer {
    text-align: right;
}

.modal__error--close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 2.5rem;
}

/* MODEL EDITAR */
.modal__editar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal__editar:target {
    visibility: visible;
    opacity: 1;
}

.modal__editar--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__editar--footer {
    text-align: right;
}

.modal__editar--close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 2.5rem;
}

#editar {
    font-size: 1.3rem;
    padding: 10px;
    background-color: #3084B4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.input__file--valor {
    font-size: 1rem;
}

.input__nome--valor {
    font-size: 1rem;
}

.input__sigla--valor {
    font-size: 1rem;
}

.input__carga--horaria--valor {
    font-size: 1rem;
}

.input__descricao--valor {
    font-size: 1rem;
}



/* MODEL DELETAR */
.modal__deletar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal__deletar:target {
    visibility: visible;
    opacity: 1;
}

.modal__deletar--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal__deletar--footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal__deletar--footer a {
    font-size: 1.3rem;
    padding: 10px 25px;
    background-color: #3084B4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal__deletar--close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: #585858;
    text-decoration: none;
    font-size: 2.5rem;
}


/* CURSOS */

.container-cursos {
    display: flex;
    flex-direction: column;
    gap: 7.2vh;
}

.cards_cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 46px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.card_curso {
    background-color: #D9D9D9;
    width: 350px;
    height: 269px;
    display: grid;
    place-items: center;
    padding: 20px;
    border: 1px solid #3084B4;
    border-radius: 5px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card_curso img {
    width: 150px;
    height: 150px;
}

.card_curso:hover {
    border: 4px solid #3084B4;
    transition: all .1s;
}

.segura_tudo {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nome_carga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.editar_excluir_cursos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    font-size: 2rem;
    color: #074A71;
}

.editar_excluir_turmas {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    font-size: 2rem;
    color: #074A71;
}

.nome {
    text-align: center;
}

.nome h2 {
    font-size: 32px;
    line-height: 39px;
}

.nome span {
    font-size: 15px;
    line-height: 18px;
}

.carga_horaria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #074A71;
}

@media (max-width: 999px) {

    .modal__adicionar--content {
        text-align: center;
        padding: 1em 1em;
        gap: 15px;
    }

    #myInputSigla{
        width: 100%;
    }

    #myInputCargaHoraria{
        width: 100%;
    }

    .sigla__carga--horaria{
        flex-direction: column;
    }

    .input__sigla {
        flex-direction: column;
    }
    
    .input__carga--horaria {
        flex-direction: column;
    }
}