#container-desejado{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-self: center;
    font-family: 'Montserrat', sans-serif;
}
#container-desejado table{
  height: 40vh;
  width: 60vw;
}

table tr th{
    text-align: start;
}

.d-flex{
  display:flex;
}

.flex-column{
  flex-direction: column;
}

.titleForm{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#adcTarefa{
  gap: 4vh;
}

.buttonMargemErro{
  width: 30px;
  height: 20px;
  cursor: pointer;
}



@media  (max-width: 600px) {

  /* table, thead, tbody, th, td, tr {
      display: block;} */

      #container-desejado{
        place-content: start;
      }

  table tr{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
  }
  
  th {
      text-align: center;
  }
  
  td {
      text-align: left;
      border-bottom: none;
  }
  
  td:before {
      content: attr(data-label);
      font-weight: bold;
      text-align: left;
      margin-bottom: 4px;
      display: block;
  }
}