
.cards_discipinas_professor{
display: flex;
flex-wrap: wrap;
gap: 5vw;
justify-content: space-around;
margin-top: 5vh;
}

.card_disciplina{
    display: flex;
    width: 25vw;
    height: 20vh;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D9D9D9;
    cursor: pointer;
    border: 1px solid #3084B4;
    transition: .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
}
.card_disciplina:hover{
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.25);
    border: 4px solid #3084B4;
    transition: all .2s;
}

.nome_disciplina{
    font-weight: 600;
    font-size: clamp(1.5625rem, 0.7031rem + 2.75vw, 2.25rem);
}

.horario{
    display: flex;
    gap: 15px;
    color: #074A71;
    align-items: flex-end;
    font-weight: 600;
}

@media (max-width:600px){
    .card_disciplina{
        width: 85vw;
    }
}