body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 75px 1fr;
}

nav {
    background-color: #3084B4;
}

.busca {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.busca a {
    background-color: #3084B4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.busca :hover {
    background-color: #074A71;
}

.modal__adicionar__tarefa {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    position: absolute;
    background-color: var(--primary-color);
}

.modal__adicionar__tarefa form {
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    opacity: 2;
    z-index: 2;
    background-color: #C4D9E5;
    font-size: clamp(1.3rem, -0.0469rem + 2.75vw, 1.5rem);
}
.modal__editar__tarefa {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    position: absolute;
    background-color: var(--primary-color);
}

.modal__editar__tarefa form {
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    opacity: 2;
    z-index: 2;
    background-color: #C4D9E5;
    font-size: clamp(1.3rem, -0.0469rem + 2.75vw, 1.5rem);
}

#sair {
    padding: 10px 40px;
    margin-left: 3vw;
    display: grid;
    place-self: start;
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

#sair:hover {
    scale: 0.9;
}


.titleForm {
    gap: 5vw;
    align-items: center;
    color: #666666;
}

.imgTarefa input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.imgTarefa input[type="file"]::before {
    content: 'Selecione uma imagem';
    display: inline-block;
    background: #f1f1f1;
    padding: 5px 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
}

.imgTarefa {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    height: auto;
    background-color: #666666;
}

.imgTarefa input[type="file"]:hover::before {
    background: #e0e0e0;
}

.imgTarefa #visualizacao {
    width: 40vw;
    height: 40vh;
    display: grid;
    place-content: center;
    background-color: #3084B4;
}

#imgVisu {
    height: 40vh;
    display: grid;
    place-self: center;
    width: 40vw;
    background-color: #666666;
}

.inputsTarefa {
    width: 90%;
    margin-top: 5%;
    gap: 4vh;
}

.inputsTarefa textarea {
    resize: none;
    height: 10vh;
    padding: 5px;
}

.inputsTarefa input {
    height: 5vh;
    padding: 5px;
}

#sendTarefa, #sendTarefaEditada {
    width: 25%;
    display: grid;
    margin-top: 5vh;
    place-self: center;
    border-radius: 5px;
    padding: 10px 0;
    background-color: #3084B4;
    border: 2px solid #fff;
    color: #ffff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

#sendTarefa:hover , #sendTarefaEditada:hover{
    scale: 0.9;
}

.nomeTarefa{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

#excluir2{
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    float: left;
    right: 0;
    display: none;
    bottom: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}
#editar2{
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    float: right;
    left: 0;
    position: absolute;
    display: none;
    bottom: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.buttonCard{
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #3084B4;
}

.card:hover #excluir2, .card:hover #editar2{
    display: block;
}
.idTarefa{
   display: grid;
   place-self: start;
    font-size: 1rem;
}

@media (max-width: 999px) {
    .busca {
        width: 100%;
    }

    .busca a {
        font-size: 1rem;
    }
}

@media (max-width:600px) {
    .modal__adicionar__tarefa form , .modal__editar__tarefa form {
        height: 90%;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        gap: 5vh;
    }

    #sendTarefa, #sendTarefaEditada{
        margin-top: 0;
        width: 45%;
    }
}