body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 75px 1fr;
}

nav {
    background-color: #3084B4;
}

.busca {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.busca a {
    background-color: #3084B4;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
}

.busca :hover {
    background-color: #074A71;
}

.modal__adicionar__tarefa{
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: .9;
   position: absolute;
    background-color: var(--primary-color);
}
.modal__adicionar__tarefa form{
  height: 50%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 2;
  background-color: beige;
}

@media (max-width: 999px) {
    .busca {
        width: 100%;
    }
     .busca a {
        font-size: 1rem;
    }
}
