.modal__adicionar__tarefa {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    position: absolute;
    background-color: var(--primary-color);
}

.modal__adicionar__tarefa form {
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    opacity: 2;
    z-index: 2;
    background-color: #C4D9E5;
    font-size: clamp(1.3rem, -0.0469rem + 2.75vw, 1.5rem);
}

.modal__editar__tarefa {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    position: absolute;
    background-color: var(--primary-color);
}

.modal__editar__tarefa form {
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    opacity: 2;
    z-index: 2;
    background-color: #C4D9E5;
    font-size: clamp(1.3rem, -0.0469rem + 2.75vw, 1.5rem);
}

#sair {
    padding: 10px 40px;
    margin-left: 3vw;
    display: grid;
    place-self: start;
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

#sair:hover {
    scale: 0.9;
}


.titleForm {
    gap: 5vw;
    align-items: center;
    color: #666666;
}

.imgTarefa input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.imgTarefa input[type="file"]::before {
    content: 'Selecione uma imagem';
    display: inline-block;
    background: #f1f1f1;
    padding: 5px 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
}

.imgTarefa {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    height: auto;
    background-color: #666666;
}

.imgTarefa input[type="file"]:hover::before {
    background: #e0e0e0;
}

.imgTarefa #visualizacao {
    width: 40vw;
    height: 40vh;
    display: grid;
    place-content: center;
    background-color: #3084B4;
}

#imgVisu {
    height: 40vh;
    display: grid;
    place-self: center;
    width: 40vw;
    background-color: #666666;
}

.inputsTarefa {
    width: 90%;
    margin-top: 5%;
    gap: 4vh;
}

.inputsTarefa textarea {
    resize: none;
    height: 10vh;
    padding: 5px;
}

.inputsTarefa input {
    height: 5vh;
    padding: 5px;
}

#sendTarefa,
#sendTarefaEditada {
    width: 25%;
    display: grid;
    margin-top: 5vh;
    place-self: center;
    border-radius: 5px;
    padding: 10px 0;
    background-color: #3084B4;
    border: 2px solid #fff;
    color: #ffff;
    cursor: pointer;
    transition: .4s ease-in-out;
}

#sendTarefa:hover,
#sendTarefaEditada:hover {
    scale: 0.9;
}

.nomeTarefa {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

#excluir2 {
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    float: left;
    right: 0;
    display: none;
    bottom: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

#editar2 {
    color: white;
    background-color: #3084B4;
    padding: 10px;
    border-radius: 50%;
    border: 0;
    float: right;
    left: 0;
    position: absolute;
    display: none;
    bottom: 0;
    cursor: pointer;
    font-size: clamp(0.8125rem, -0.0469rem + 2.75vw, 1.5rem);
}

.buttonCard {
    width: auto;
    height: auto;
    border-radius: 5px;
    transition: .4s ease-in-out;
    border: 1px solid transparent;
}

.buttonCard:hover {
    scale: 0.9;
}

.card:hover #excluir2,
.card:hover #editar2 {
    display: block;
}

.idTarefa {
    display: grid;
    place-self: start;
    font-size: 1rem;
}

.modalQuestion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .modal_mensagem2 {
    position: absolute;
    z-index: 1;
    background-color: #ffff;
    float: top;
    border: 5px double #074A71;
    bottom: 0;
    padding: 30px;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    flex-direction: column;
    height: 40vh;
} */

.modal_mensagem p {
    text-align: center;
    width: 90%;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.botoes a {
    height: auto;
    width: auto;
}

.botoes button {
    width: 10vw;
    color: #fff;
    background-color: #074A71;
    border: 1px solid transparent;
    cursor: pointer;
    height: 5vh;
    transition: .5s ease-in-out;
}

.botoes button:hover {
    scale: 0.9;

}








.modal_mensagem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    margin-left: 0;
    left: 0;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}



.modal__deletar:target {
    visibility: visible;
    opacity: 1;
}

.apresentacaoModal{
    background-color: #e0e0e0;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 2vh;
    border-radius: 2px;
    border: 1px solid transparent;
    opacity: .8;
    letter-spacing: 1px;
}
.apresentacaoModal span{
    font-size: clamp(0.9rem, 0.025rem + 2.8vw, 1.6rem);
    text-align: justify;
}
.apresentacaoModal h3{
    font-size: clamp(1.2rem, -0.05rem + 4vw, 2.2rem);
    font-weight: 500;
    text-align: start;
}

#sairModalMensagem{
    width: 10vw;
    background-color: #074A71;
    color: #ffff;
    cursor: pointer;
   height: 5vh;
   border: 1px solid #fff;
   border-radius: 10px;
   letter-spacing: 4px;
   transition: .4s ease-in-out;
}

#sairModalMensagem:hover{
    scale: 0.9;
}
.modal__deletar--content {
    font-family: 'Montserrat';
    border-radius: 4px;
    position: relative;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal__deletar--footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal__deletar--footer a {
    font-size: 1.3rem;
    padding: 10px 25px;
    background-color: #3084B4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal__deletar--close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.buttoesFuncoes{
    display: flex;
    gap: 1vw;
    align-items: end;
}
.buttoesFuncoes button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    background-color: #e0e0e0;
    opacity: .7;
 }
 
 .buttoesFuncoes button:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
 }
 .buttoesFuncoes a{
    width: auto;
    height: auto;
 }
 
 .modal_excluir{
    background-color: #585858;
    position: absolute;
    padding: 25px;
    border: 1px solid #ffff;
 }
 .d-grid-center{
    display: grid;
    place-self: center;
 }
 .modal_excluir span p{
    font-size: clamp(1rem, 0.5rem + 1.6vw, 1.4rem);
    text-align: justify;
    color: #ffff;
    letter-spacing: 0px;
 }
 .modal_excluir span {
   margin: 3vh 0;
 }

 .confirmacao{
    display: flex;
   gap: 2vw;
 }
 .confirmacao button{
   padding: 10px 20px;
   cursor: pointer;
 }

 .d-flex2 {
    display: grid;
    place-content: center;
}

@media (max-width:650px) {
    .apresentacaoModal h3{
        text-align: center;
    }

    #sairModalMensagem{
        width: 25vw;
    }

    .buttoesFuncoes{
        display: flex;
       flex-direction: column;
       gap: 2vh;
    }

    .confirmacao button{
        padding: 10px 30px;
        cursor: pointer;
      }
    
}